body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ddd;
}

.material-symbols-rounded {
    font-size: 18px;
    line-height: 19px;
}

.material-symbols-rounded.fs-20 {
    font-size: 20px;
}

.material-symbols-rounded ~ span {
    padding: 0px 3px;
}

div.presentation {
    background-color: #282a36;
    color: white;
    padding: 20px;
    text-align: center;
}

div.card {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5);
}

div.loader {
    z-index: 10;
    position: absolute;
    background: #0002;
    padding-top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loader.hide {
    display: none;
}

div.loader .loading {
    width: 20px;
    height: 20px;
    border: 5px solid #4d4d4d;
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

div.toolbar {
    background-color: #333;
    padding: 15px;
    color: white;
    text-align: center;
    z-index: 2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.toolbar button,
div.toolbar select {
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

div.toolbar select {
    margin-right: 5px;
    padding-right: 20px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(51, 51, 51)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 1em;
}

div.toolbar .left-tools {
    display: flex;
}

div.toolbar .left-tools button {
    background-color: #4caf50;
    color: white;
}

div.toolbar .left-tools button:hover {
    background-color: #45a049;
}

div.toolbar .left-tools button.run-button {
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
}

div.toolbar .left-tools button.run-button span {
    min-width: 50px;
    display: inline-block;
}

div.toolbar .left-tools button.action-button {
    padding: 8px 6px;
    border-left:1px solid #fff8;
    border-radius: 0px 5px 5px 0px;
}

div.toolbar .left-tools button.action-button i {
    transform: scale(1.5) translatey(2px);
}

div.toolbar .left-tools .action-select {
    z-index: 10;
    display: none;
    overflow: hidden;
    position: absolute;
    min-width: 125px;
    border-radius: 0px 5px 5px 5px;
    background-color: #f1f1f1;
}

div.toolbar .left-tools .action-select a {
    color: black;
    padding: 10px;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

div.toolbar .left-tools .action-select a:hover {
    background-color: #ddd
}

div.toolbar .left-tools .actions.show .action-select {
    display: block;
}

div.toolbar .right-tools {
    display: flex;
}

div.toolbar .right-tools button,
div.toolbar .right-tools select {
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
}

div.toolbar .right-tools #lang-select {
    min-width: 100px;
}

div.toolbar .right-tools #toggle-button.disable {
    opacity: 0.5;
    pointer-events: none;
}

div.toolbar .right-tools button:hover,
div.toolbar .right-tools select:hover {
    background-color: #eee;
}

div.main {
    display: flex;
    flex-direction: column;
    height: 400px;
    resize: vertical;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.main::-webkit-resizer {
    display: none;
}

#editor-panel {
    width: 100%;
    flex: 1;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: auto;
}

#output-panel {
    position: absolute;
    top: 0;
    right: calc(-300px + -2 * 20px);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: right 0.3s ease;
}

#output-panel.show {
    right: 0;
}

.clear-output-button {
    position: absolute;
    bottom: 10px;
    right: 7px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.output-content {
    flex-grow: 1;
    word-break: break-all;
    font-family: monospace;
    padding: 5px 15px 10px;
    line-height: 20px;
    overflow-y: auto;
    max-height: calc(100% - (5px + 10px));
}

.output-content p span {
    display: block;
}

.output-content p span.success {
    color: #4caf50;
}

.output-content p span.error {
    color: #dc3545;
}

.output-content p.placeholder {
    opacity: 0.5;
}

.output-content p.running::after {
    content: "Running code";
    animation: dots 1.5s infinite;
}

#output-running,
#output-placeholder {
    display: none;
}

#output-placeholder {
    opacity: 0.5;
}

#output-running.show,
#output-placeholder.show {
    display: block;
}

@media screen and (max-width: 768px) {
    div.card {
        width: 90%;
        margin: 40px auto;
    }
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes dots {
    0%  { content: 'Running code'; }
    25% { content: 'Running code.'; }
    50% { content: 'Running code..'; }
    75% { content: 'Running code...'; }
}
